In [4]:
import os
import numpy as np
import pandas as pd
import math as m

import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.graphics.tsaplots import plot_acf
from statsmodels.graphics.tsaplots import plot_pacf
from statsmodels.tsa.stattools import adfuller
import seaborn as sns

from scipy import stats

import matplotlib.pyplot as plt
import matplotlib as mpl

from scipy import stats
from scipy.fftpack import fft, rfft, fftfreq
from scipy import signal

In [23]:
os.chdir('/home/rgreen/NDVI_Projection/')
    
oromia = pd.ExcelFile('oromia.xlsx')
arsi = pd.read_excel(oromia, 'arsi')
bale = pd.read_excel(oromia, 'bale')
borena = pd.read_excel(oromia, 'borena')
guji = pd.read_excel(oromia, 'guji')
westarsi = pd.read_excel(oromia, 'westarsi')

In [24]:
arsi = arsi[:-1]

In [25]:
arsi.insert(0, 'Time', np.linspace(1,585,585))
bale.insert(0, 'Time', np.linspace(1,585,585))
borena.insert(0, 'Time', np.linspace(1,585,585))
guji.insert(0, 'Time', np.linspace(1,585,585))
westarsi.insert(0, 'Time', np.linspace(1,585,585))

In [37]:
ddf = pd.DataFrame()
ddf['D_NDVI'] = arsi.NDVI.diff()[1:]
ddf = ddf.reset_index(drop=True)
ddf['N_P'] = ((max(arsi.NDVI) - (arsi.NDVI[:-1]))* (arsi.P[:-1]))
ddf['N_LST'] = (((arsi.NDVI[:-1]) - min(arsi.NDVI))* (arsi.LST[:-1])).shift(4) #need to shift back lags, use shift not index
ddf['N_ET'] = (((arsi.NDVI[:-1]) - min(arsi.NDVI))* (arsi.ET[:-1])).shift(4)

In [38]:
ddf

     D_NDVI       N_P     N_LST      N_ET
0   -0.0008  1.296784       NaN       NaN
1   -0.0129  1.305083       NaN       NaN
2   -0.0233  2.212510       NaN       NaN
3   -0.0271  1.070170       NaN       NaN
4   -0.0221  1.254741  5.192730  6.452483
..      ...       ...       ...       ...
579 -0.0101  1.723064  5.469134  6.782459
580  0.0021  2.303078  4.690143  5.526136
581  0.0087  1.929476  3.673108  4.297915
582  0.0045  7.256170  2.618103  3.389088
583  0.0025  2.278222  1.840951  2.308030

[584 rows x 4 columns]